<app-nav></app-nav>

<main>
  <div class="hero">
    <h1>Welcome to ReservEase</h1>
    <hr class="divider">
    <p>Your premier destination for streamlined infrastructure reservation solutions tailored to corporate offices.</p>
    <a routerLink="/signin" class="btn">Get Started</a>
  </div>
  
  <div class="containers-wrapper">
    <div class="container">
      <div class="abc"><h2>Empowering Businesses</h2></div>
      <hr>
      <p>Optimize your workspace utilization with ReservEase. Book meeting rooms, conference facilities, event spaces, and more effortlessly.</p>
    </div>
    
    <div class="container">
      <div class="abc"><h2>Seamless Experience</h2></div>
      <hr>
      <p>Browse through available infrastructure options with detailed descriptions, images, and real-time availability updates.</p>
    </div>
    
    <div class="container">
      <div class="abc"><h2>Dedicated Support</h2></div>
      <hr>
      <p>Our dedicated support team ensures a smooth experience for all users. Experience the future of infrastructure reservation with ReservEase!</p>
    </div>
  </div>

 
</main>
<br><br>
<app-foot></app-foot>
