<footer>
    <div class="footerContainer">
        <div class="socialIcons">
            <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
            <a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
            <a href="https://plus.google.com"><i class="fab fa-google-plus"></i></a>
            <a href="https://www.youtube.com"><i class="fab fa-youtube"></i></a>
        </div>
        <div class="footerNav">
            <ul>
                <li><a routerLink="/">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <li><a routerLink="/reservations">Reservations</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <li><a routerLink="/contact">Contact us</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <li><a routerLink="/about">About</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
            </ul>
        </div>
    </div>
    <div class="footerBottom">
        <p>Copyright &copy; 2024, Designed by <span class="designer">FAAM Tech</span></p>
    </div>
</footer>
