<div class="container py-5">
    <br><br><br><br>
    <div class="bcd">
        <div class="cls py-100" ><h1>SIGN IN</h1></div>
        <div class="row g-2">   
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-3">
                <form (ngSubmit)="signin()" >
                    <table class="abc">
                        <tr><td><input type="text" [(ngModel)]="username" name="username" placeholder="Username"  required></td></tr>
                        <tr><td><input type="password" [(ngModel)]="password" name="password" placeholder="Password"  required></td></tr>
                        <tr><div class="xyz"><a routerLink="/signup">Not a user?! Sign Up</a></div></tr>
                        <tr><td><a routerLink="/myaccount"><input type="submit" value="Sign In"></a></td></tr>
                        <tr><td><div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div></td></tr>
                    </table>            
                </form>
            </div> 
        </div>
    </div>
       
</div>